.portfolio {
  margin: 0 0 54px;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.portfolio__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .portfolio__item {
    font-size: 28px;
  } 
}

@media screen and (max-width: 450px) {
  .portfolio {
    margin: 0 0 40px;
    font-size: 14px;
  }

  .portfolio__item {
    font-size: 18px;
  }

  .portfolio__link {
    width: 10px;
    height: 10px;
  }
}
